
:root {
    --yellow:#FFCD05;
    --sky:#A7DFF7;
    --white: #ffff;
    --bg: #1D3766;
    --skydark:#289AC0;
    --bg-section:#F0EFEF;

}

body{
    background-color: var(--bg-section);
}

.service-first{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 40px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-first img{
    max-width: 90px;
    width: 100%;
    max-height: 90px;
    height: 100%;
    object-fit: contain;
}

.service-first h5{
    font-weight: 700;
    text-align: center;
}

.service-first a{
    text-decoration: none;
    border: 2px solid var(--bg-section);
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--bg);
    font-weight: 500;
}

.service{
    padding-bottom: 50px;
}